<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="p-3 mt-5 rounded">{{this.title}}</h1>
    <form
      class="border rounded p-4 mt-2 bg-white"
      (ngSubmit)="onResetPassword()"
      [formGroup]="form"
      autocomplete="off"
    >
      <h2>Crea nueva clave</h2>
      <div class="mb-3">
        <label for="nuevaClave" class="form-label">Ingresa tu nueva clave</label>
        <input
          type="password"
          class="form-control"
          id="nuevaClave"
          placeholder="Tu nueva clave"
          formControlName="nuevaClave"
          [disabled]="loading"
        />
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="loading">
        {{ loading ? "Cargando..." : "Ingresar" }}
      </button>
    </form>
    <app-spinner [loading]="loading"></app-spinner>
  </div>
  