<div class="container">
  <h1>Dashboard</h1>
  <app-spinner [loading]="this.loading"></app-spinner>
  <div
    class="row my-2 row-cols-1 row-cols-md-2 row-cols-lg-3 g-4"
    [hidden]="this.loading"
  >
    <div class="col">
      <div class="card border-dark mb-3" style="max-width: 18rem">
        <div class="card-header">Usuarios aprobados</div>
        <div class="card-body">
          <h5 class="card-title">{{ this.usuarios.aprobados }}</h5>
          <p class="card-text">
            Mayores detalles en el módulo de administración.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-dark mb-3" style="max-width: 18rem">
        <div class="card-header">Cajeros</div>
        <div class="card-body">
          <h5 class="card-title">{{ this.usuarios.cajeros }}</h5>
          <p class="card-text">
            Mayores detalles en el módulo de administración.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-dark mb-3" style="max-width: 18rem">
        <div class="card-header">Gestores</div>
        <div class="card-body">
          <h5 class="card-title">{{ this.usuarios.gestores }}</h5>
          <p class="card-text">
            Mayores detalles en el módulo de administración.
          </p>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
  <div class="row my-2" [hidden]="this.loading">
    <h2>Cajas</h2>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" *ngFor="let caja of cajas">
        <div class="card border-dark mb-3" style="max-width: 18rem">
          <div class="card-header">{{ caja.descripcion }}</div>
          <div class="card-body">
            <h5 class="card-title">Estadísticas</h5>
            <ul class="list-group">
              <li class="list-group-item">
                Usuarios a cargo: {{ caja.userCajas.length }}
              </li>
              <li class="list-group-item">
                Atenciones realizadas: {{ caja.atenciones.length }}
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <button
      type="button"
      (click)="load()"
      class="btn btn-success text-center my-2"
      style="max-width: 150px"
    >
      Refrescar
    </button>
  </div>
</div>
