<h1>Módulo de cajas</h1>
<div class="d-grid d-md-block my-2">
  <button type="button" class="btn btn-secondary" (click)="onAdd()">
    Agregar caja
  </button>
</div>
<div class="row d-flex align-baseline my-2">
  <div class="mat-elevation-z8 table-responsive">
    <table mat-table [dataSource]="dataSource" [hidden]="loading">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let caja">
          {{ dataSource.filteredData.indexOf(caja) + 1 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Detalle</th>
        <td mat-cell *matCellDef="let caja">
          {{ caja.descripcion }}
        </td>
      </ng-container>
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef>Activa</th>
        <td mat-cell *matCellDef="let caja">
          {{ caja.active }}
        </td>
      </ng-container>
      <ng-container matColumnDef="usuarios">
        <th mat-header-cell *matHeaderCellDef>Usuarios</th>
        <td mat-cell *matCellDef="let caja" class="d-flex gap-1">
          <button
            type="button"
            class="btn btn-info"
            (click)="onViewUsers(caja.id, caja.userCajas)"
          >
            Ver los {{ caja.userCajas.length }} usuarios
          </button>
          <button
            class="btn btn-secondary"
            (click)="onAssignUsers(caja.id, caja.userCajas)"
          >
            Asignar otro cajero
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="modificar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let caja">
          <button
            type="button"
            class="btn btn-success"
            (click)="onModify(caja)"
          >
            Modificar
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="borrar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let caja">
          <button
            type="button"
            class="btn btn-danger"
            (click)="onDelete(caja.id)"
          >
            Borrar
          </button>
        </td>
      </ng-container>
    </table>

    <app-spinner [loading]="this.loading"></app-spinner>

    <mat-paginator
      [disabled]="loading"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Recorrer páginas"
    >
    </mat-paginator>
  </div>
</div>
