<div class="container">
  <h1>Bienvenido {{this.username}} - {{this.role}}</h1>
  <app-spinner [loading]="this.loading"></app-spinner>
  <div class="row my-2 row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" [hidden]="this.loading">
    <div class="col">
      <div class="card border-dark mb-3" style="max-width: 18rem">
        <div class="card-header">Turnos atendidos en el día</div>
        <div class="card-body">
          <h5 class="card-title">{{this.numAtenciones}} atenciones</h5>
        </div>
      </div>
    </div>
    <div class="col" [hidden]="this.isUser">
      <div class="card border-dark mb-3" style="max-width: 18rem">
        <div class="card-header">Turnos asignados a cajeros</div>
        <div class="card-body">
          <h5 class="card-title">{{this.asignadosPorGestor}} asignaciones</h5>
        </div>
      </div>
    </div>
    <div class="col" [hidden]="this.isUser">
      <div class="card border-dark mb-3" style="max-width: 18rem">
        <div class="card-header">Usuarios pendientes de aprobación</div>
        <div class="card-body">
          <h5 class="card-title">{{this.usuariosNoAprobados}} usuarios</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-success text-center"
        style="max-width: 150px"
        (click)="refrescar()"
      >
        Refrescar
      </button>
    </div>
  </div>
</div>
