<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="p-3 mt-5 rounded">{{this.title}}</h1>
    <form
      class="border rounded p-4 mt-2 bg-white"
      (ngSubmit)="onRetrievePassword()"
      [formGroup]="form"
      autocomplete="off"
    >
      <h2>¿Olvidaste tu clave?</h2>
      <div class="mb-3">
        <label for="email" class="form-label">Correo</label>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Tu correo"
          formControlName="email"
          [disabled]="loading"
        />
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="loading">
        {{ loading ? "Cargando..." : "Ingresar" }}
      </button>
      <div class="mb-3">
        <p><a class="nav-link" routerLink="/auth/login">Click para regresar a login.</a>
        </p>
      </div>
    </form>
    <app-spinner [loading]="loading"></app-spinner>
  </div>
  